@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

$bg-color: #141525;
$bg-color2: #0b0c18;

* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  overflow: hidden;
  background-color: $bg-color2;
}

.material-symbols-outlined {
  font-size: 3rem;
  color: white;
  user-select: none;
  cursor: pointer;
}
