.fontSize {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(4, 43, 77);
}
.app {
  display: flex;
  gap: 5rem;
  margin-top: 10vh;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.head {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10vh;
}
.heading {
  font-size: 4rem;
  color: cadetblue;
}
.headin {
  font-size: 3rem;
  text-decoration: underline;
}

.upl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  /* width: 30vw; */
}
.downl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  /* width: 30vw; */
}
