.fontSize {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(4, 43, 77);
}
.app {
  display: flex;
  gap: 5rem;
  margin-top: 10vh;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.head {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10vh;
}
.heading {
  font-size: 4rem;
  color: cadetblue;
}
.headin {
  font-size: 3rem;
  text-decoration: underline;
}

.upl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  /* width: 30vw; */
}
.downl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  /* width: 30vw; */
}

.file {
  display: inline-block;
  text-align: left;
  background: #5f9ea0a1;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  width: 35rem;
  position: relative;
  border-radius: 2px;
}
.file::file-selector-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: cadetblue;
  padding: 10px 20px 10px 20px;
  border: solid cadetblue 2px;
  border-color: cadetblue;
  color: cadetblue;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(45deg, cadetblue 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.file::file-selector-button:hover {
  background-position: 0;
  color: white;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: cadetblue;
  font-size: 2rem;
  font-weight: 900;
  padding: 10px 30px 10px 30px;
  border: solid cadetblue 2px;
  border-color: cadetblue;
  color: cadetblue;
  background-image: linear-gradient(45deg, cadetblue 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 500ms ease-in-out;
}
.btn:hover {
  background-position: 0;
  color: rgb(255, 255, 255);
}

.btn2 {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #627475;
  font-size: 2rem;
  font-weight: 900;
  padding: 10px 30px 10px 30px;
  border: solid #627475 2px;
  border-color: #627475;
  color: #627475;
}
